@import "https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap";

:root{
    --color-green: #50fa7b;
    --color-human_videos: rgb(236, 135, 122); 
}

* {
    margin: 0;
    padding: 0;
    border: 0;
                }

body {
    background: #282a36;
    font-family: 'Raleway', sans-serif;
    color: white;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;

}

.links a:hover {
    color: var(--color-human_videos);
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 3px solid  var(--color-human_videos);
    margin-bottom: 32 px;
    width: 300px;

}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 9px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 34px;
}

wrapper p a {
    color: var(--color-green);
}

#links-footer a{
    border-bottom: 1px solid var(--color-human_videos);
}

 
/*=== CARDS ===*/

.cards {
    max-width: 800px;
    margin: 0 auto ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
   background-color: var(--color-human_videos); 
}

.card__image-container img {
    width: 100%;
}

.card__conteudo, 
.card__info {
    padding:24px;
} 

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    background-color:var(--color-human_videos);
    filter: brightness(80%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;

}